* {
  margin: 0%;
  font-family: "Work Sans", sans-serif;
}
/* ========== header style ============ */
.header {
  background-image: url("../banner/banner3.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.banner-details {
  padding-top: 100px;
  padding-left: 160px;
  text-align: left;
  color: white;
}
.banner-title {
  width: 525px;
  height: 228px;
  font-weight: 700;
  font-size: 65px;
}
.banner-description {
  margin-top: 24px;
  margin-bottom: 25px;
  width: 494px;
  height: 78px;
}
.banner-contact {
  width: 160px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  border-radius: 5px;
  border: none;
}
/* ======== main styles ========== */
main {
  background-color: aqua;
  max-width: 1080px;
  margin: 0 auto;
}
.my-failures {
  margin: 130px 0px 130px 0px;
  display: flex;
  justify-content: space-around;
}
.my-images {
  width: 569px;
  height: 723.3px;
}
.failures-list {
  padding-top: 200px;
  width: 416px;
  height: 400px;
}
.failfure-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 25px;
}
.failures-description {
  font-weight: 400;
  font-size: 16px;
  width: 380px;
  height: 104px;
  color: #444343;
}
.fails-list {
  width: 349px;
  height: 162px;
}
.fails-list.p {
  color: #444343;
}
/* ============== my plans styles */
.my-plan {
  text-align: center;
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
}
.plans-items {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 100px;
}
.plan-item-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}
.plan-item-sub-title {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
