* {
  margin: 0%;
  font-family: "Work Sans", sans-serif;
}
/* ========== header style ============ */
.header {
  background-image: url("../banner/banner3.png");
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
}
.banner-details {
  display: inline-block;
  padding-left: 700px;
  padding-top: 100px;
  text-align: right;
  color: white;
}
.banner-title {
  width: 525px;
  height: 228px;
  font-weight: 700;
  font-size: 65px;
}
.banner-description {
  margin-top: 24px;
  margin-bottom: 25px;
  width: 520px;
  height: 78px;
}
.banner-contact {
  width: 160px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  border-radius: 5px;
  border: none;
}
/* ======== main styles ========== */
main {
  max-width: 1080px;
  margin: 0 auto;
}
.my-failures {
  margin: 130px 0px 130px 0px;
  display: flex;
  justify-content: space-around;
}
.my-images {
  width: 569px;
  height: 723.3px;
}
.failures-list {
  padding-top: 200px;
  width: 416px;
  height: 400px;
}
.failfure-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 25px;
}
.failures-description {
  font-weight: 400;
  font-size: 16px;
  width: 380px;
  height: 104px;
  color: #444343;
}
.fails-list {
  width: 349px;
  height: 162px;
}
.fails-list.p {
  color: #444343;
}
/* ============== my plans styles */
.my-plan {
  text-align: center;
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
}
.plans-items {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 100px;
}
.plan-item-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}
.plan-item-sub-title {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
/* ============= dream big ============ */
/* .my-dream {
  display: flex;
  justify-content: space-between;
} */

/* ============= call now styles========= */
.call-now {
  /* background-image: url("/media/images/watch.png"); */
  padding-left: 65px;
  border-radius: 8px;
  height: 300px;
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../media/images/watch.png");
  margin-bottom: 120px;
}
.call-now-title {
  padding-top: 60px;
  width: 459px;
  height: 94px;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  padding-bottom: 24px;
}
.call-now-button {
  font-weight: 600;
  font-size: 20px;
  width: 160px;
  height: 64px;
  color: #005fac;
  border-radius: 5px;
  border: none;
}
/* ============= footer styles ========= */
.footer {
  height: 450px;
  background: #151414;
}
.footer-content {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
.futures {
  text-align: left;
}
.future-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 15px;
}
.future-description {
  width: 485px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  color: #f8f8f8;
}
.future-contact {
  font-weight: 400;
  font-size: 16px;
  width: 190px;
  height: 26px;
  margin-bottom: 10px;
  color: #ffffff;
}
.social-icon {
  padding-right: 14px;
}
.subscribe-title {
  width: 123px;
  height: 29px;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 20px;
}
.subscribe-email {
  border: 3px solid #f8f8f8;
  width: 325px;
  height: 64px;
  background: #151414;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
}
.subscribe.placeholder {
  width: 325px;
  height: 64px;
}
.subscribe-button {
  color: #ffffff;
  width: 170.11px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  background: #005fac;
  border-radius: 8px;
  border: none;
}
